<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <div style="display:flex; align-items:center;justify-content:center;flex-direction:column">
        <h3>Account Verification</h3>
        <br>
        <p>Thanks for choosing EasyShop, please click on the button below to verify your account</p>
        <a style="margin-top: 1rem;padding: 1rem;border-radius: 0.5rem;font-size: 1rem;text-decoration: none;background: #0275d8;color: white;"
            href="{{ '%(url)s/verification/?token=%(token)s'%{'url':app_host, 'token':token} }}">Verify your
            email</a>
        <p>Please kindly ignore this email if you did not register for EasyShop and nothing will happen. Thanks</p>
    </div>
</body>

</html>
