<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Verification</title>
</head>

<body style="margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, rgb(227, 132, 77) 0%, rgb(102, 208, 222) 100%);
    font-family: work sans;">
    <div
        style="margin: 10px auto; background: rgb(255, 255, 255); width: 50%; border-radius: 10px; padding: 50px; text-align: center;">
        <h2 style="font-family: 'open sans', sans-serif; margin: 0;font-size: 2rem;">
            Email Verified!</h2>
        <h4 style="box-sizing: border-box ; padding-bottom: 1rem; color: rgba(116, 116, 116, 0.9);">
            Hello {{username}}, you can now login your account, enjoy the free discounts:)</h4>
    </div>
</body>

</html>
